*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 20px;
  font-family: Arial;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  /* table-layout: fixed; */
  width: 100%;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;

}

table th,
table td {
  padding: .625em;
  text-align: center;
}

tr td {
  height: 40px;
  font-size: 15px;
  padding-right: 5px;
}

.title h3::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 33px;
  background: url(../images/fill_14.png) no-repeat;
  position: relative;
  vertical-align: top;
  margin: 0px 16px 0px 3px;
}

.title h3 {
  text-transform: uppercase;
  color: #2C4B43;
  font-weight: bold;
}

.first-row th {
  background-color: #2C4B43;
  color: #E7F3DF;
  /* padding: 15px 0; */
}

tr:nth-child(even) {
  background-color: #E7F3DF;
}

td:first-of-type a {
  font-weight: bold;
  color: #2C4B43;
  text-decoration: none;
}

td:first-of-type a:hover {
  text-decoration: underline;
}

/***RESPONSIVE****/

@media screen and (max-width: 780px) {
  table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.9em;
      text-align: right;
      height: auto;
    }

    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
}
